/************ 
Global Layout 
***********/

body {
    margin: 4px 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f5f5f5;
  }
/************ 
Section Styles 
***********/
.wrapper {
  margin: 0px 0px 20px 0px;
}
.project {
  margin: 0px;
  padding: 0px 0px 20px 0px;
  display: inline;
}

.portfolio-title, .contact-title {
  padding: 50px 0px 35px 0px;
  margin: 0px 0px 0px 0px;
  color: black;
  text-align: center;
  font-family: Roboto, serif;
  text-transform: uppercase;
  font-size: 1.1em;
}
.portfolio-title, .project, .wrapper {
  background: white;
}
.project-image{
  margin: 5%;
  padding: 0px;
  align-content: center;
  width: 280px;
  height: 175px;
}
.project-title {
  margin: 20px 0px 10px 0px;
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-emphasis: light;
  font-size: 1.2em;
}
.project-text, .contact-text {
  margin: 5%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  max-width: 309px;
  display: inline-block;
  position: center;
}
.main-nav {
    padding: 3px 1px;
    position: center;
    text-align: center;
  }
  .nav {
    display: inline-block;
    /* justify-content: space-around; */
    font-weight: 700;
    list-style-type: none;
    padding: 10px;
    margin: 1px 5px 0px 5px;
    font-size: 1.2em;
    font-family: Roboto, serif;
    text-transform: uppercase;
    padding: 5px;
    color: black;
    width: 300px;
    text-align: center;
  }
 .name {
    margin: 20px 0px 0px 0px;
    color: black;
    text-align: center;
    font-family: Roboto, serif;
    /* padding: 10px; */
  }
  .nav a:hover {
    color: gray;
  }
  .profile-image {
    /* margin-top: 30px; */
    width: 200px;
    height: 125px;
    display: inline-block;
  }
  /* .profile-container {
    margin: 20px;
    padding: 0px;
    align-content: center;
  } */
  .introduction {
    text-align: center;
    padding: 10px 20px 35px 20px;
    margin: 10px;
    max-width: 500px;
    display: inline-block;
  }
  .contact-info {
    display: block;
    align-content: center;
    line-height: 10px;
    margin: 2px 0px 50px 0px;
  }
  .phone {
    margin-right: 10px;
    display: inline-block;
  }
  .phone-number {
    font-weight: bold;
  }
  .contact-phone, .contact-email{
    font-weight: bold;
  }
  .footer-name {
    float: left;
    margin: 0px;
  }
  .footer-link {
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .75em;
  }
  .footer-container {
    display: block;
    align-content: center;
    margin: 20px 10px 30px 10px;
    padding: 10px;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  li {
    margin: 5px 0px 5px 0px;
    background-color: white;
    height: 30px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    line-height: 30px;
  }
  .line-break {
    margin: 10px;
    color: red;
  }
  .footer-nav {
    display: none;
  }

  /* Styles for larger screens */
@media screen and (min-width: 768px) {
    .nav {
      display: inline-flex;
      justify-content: space-around;
      align-content: center;
      padding-bottom: 20px;
    }
    .main-nav {
      padding: 20px;
    }
    .col {
      display: inline-block;
      width: 50%;
    }
    .profile-image {
      padding: 10px;
      margin: 5px;
      width: 300px;
      height: 200px;
      float: right;
    }
    .header-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 10px;
    }
    .profile-container {
      text-align: right;
      margin: 0%;
      float: right;
    }
    .introduction {
      text-align: left;
      margin: 0px 5px 10px 10px;
      padding:20px 10px 100px 20px;
      font-size: 1.5em;
      align-self: auto;
      float: left;
    }
    .wrapper {
      max-width: 100%;
      margin: 10px;
      padding: 10px;
      align-content: center;

    }  
    body {
      background: white;
    }
    .portfolio-title {
      padding: 0px;
      max-height: 100px;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
    }
    .p1, .p3, .p5{
      /* max-width: 50%; */
      margin: 0px;
      float: left;
      max-height: 500px;
      align-content: right;
      justify-content: right;
    }
    .p2, .p4, .p6 {
      /* width: 50%; */
      margin: 0px auto;
      float: right;
      max-height: 500px;
      align-content: right;
    }
    .project {
      align-items: center;
      margin-right: -4px;
      width: 50%;
    }
    .contact-section {
      align-content: center;
      display: inline-block;
    }
    .contact-title {
      margin: 30px;
      padding: 10px;
      display: block;
    }
    .contact-text {
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      font-size: 1.25em;
      max-width: 555px;
      align-content: center;
      display: inline-block;
    }
    .footer-link {
      display: none;
    }
    .footer-container {
      vertical-align: top;
      margin: 0px auto;
      padding: 0px;
    }
    .footer-name {
      justify-content: left;
      margin: 20px;
      padding-left: 10px;
      padding: 10px;
      align-content: left;
      text-align: left;
      padding-top: 0px;
      font-weight: bold;
    }
   .footer-nav li {
      margin-right: 0px auto;
      padding: 10px;
      vertical-align: top;
      text-transform: uppercase;
      font-weight: bold;
      background-color: transparent;
      align-content: right;
      list-style-type: none;
    }
    .footer-nav {
      padding:-right: 20px;
      display: inline-flex;
      /* margin-left: -50px; */
      align-content: right;
      position: absolute;
      margin-right: -50px;
      margin-top: 0px;
    }
    .project-text {
      max-width: 300px;
      margin: 20px;
      padding: 20px;
      display: inline-flex;
    }   
  }

  @media screen and (min-width: 1024px) {


  }