/************ 
Global Layout 
***********/

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f5f5f5;
  }
  header {
    background: #f5f5f5;
    margin: 0px;
    padding: 0px;
  }
/************ 
Section Styles 
***********/
.wrapper {
  margin: 0px 0px 10px 0px;
  padding-bottom: 50px;
}
.project {
  margin: 0px;
  padding: 0px 0px 20px 0px;
  display: inline;
}
.portfolio-title {
  padding: 50px 0px 35px 0px;
  margin: 0px 0px 0px 0px;
  color: black;
  text-align: center;
  font-family: Roboto, serif;
  text-transform: uppercase;
  font-size: 1.1em;
}
.contact-title {
  text-align: center;
  font-family: Roboto, serif;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 40px;
}
.portfolio-title, .project, .wrapper {
  background: rgb(83, 75, 126);
  color: white;
}
.header-container {
  display: inline-block;
}
.project-image{
  margin: 5% 2% 4% 2%;
  padding: 0px;
  align-content: center;
  width: 290px;
  height: 175px;
}
.project-title {
  margin: 10px 0px 10px 0px;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.project-text {
  margin: 2% 10% 5% 10%;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  text-align: center;
  max-width: 309px;
  display: inline-block;
  font-size: .875em;
}
.contact-text {
  font-family: 'Open Sans', sans-serif;
  padding-left: 0px;
  text-align: center;
  max-width: 309px;
  display: inline-block;
  font-size: 1em;
  color: rgb(136, 135, 135);
}

.main-nav  {
    padding: 3px 1px;
    text-align: center;
  }
.nav a {
  display: block;
}

.nav {
  display: inline-block;
  font-weight: 500;
  list-style-type: none;
  /* padding: 10px; */
  margin: 1px 5px 0px 5px;
  font-size: 1.2em;
  font-family: Roboto, serif;
  text-transform: uppercase;
  padding: 5px;
  color: black;
  width: 300px;
  text-align: center;
}
.name {
  margin: 0px 0px 0px 0px;
  padding-top: 20px;
  color: black;
  text-align: center;
  font-family: Roboto, serif;
  font-size: 1.875em;
  background-color: #f5f5f5;
}
.nav a:hover {
  color: white;
  background: darkslateblue;
}
a:hover {
  color: darkslateblue;
}
.project-image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.project-image:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.profile-image {
  margin: 10px 60px;
  width: 200px;
  height: 175px; 
}
.introduction {
  text-align: center;
  padding: 10px 10px 35px 10px;
  margin: 10px;
  max-width: 300px;
  color: rgb(136, 135, 135);
  font-weight: 200;
  line-height: 1.5;
}
.contact-info {
  display: block;
  align-content: center;
  line-height: 10px;
  margin: 2px 0px 50px 0px;
  font-size: 1em;
  color: rgb(136, 135, 135);
}
.phone {
  margin-right: 10px;
  display: inline-block;
  color: rgb(136, 135, 135);
}
.phone-number {
  font-weight: bold;
  color: rgb(136, 135, 135);
}
.email {
  margin: 0px 10px;
  color: rgb(136, 135, 135);
}
.footer-name {
  float: left;
  margin: 0px;
  font-weight: bold;
}
.footer-link {
  float: right;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
}
.footer-container {
  display: block;
  align-content: center;
  margin: 20px 10px 30px 10px;
  padding: 10px;
}
a:link, a {
  text-decoration: none;
  color: black;
}
li {
  margin: 5px 0px 5px 0px;
  background-color: white;
  height: 30px;
  text-align: center;
  /* padding: 5px 0px 5px 0px; */
  line-height: 30px;
  font-weight: 500;
  font-size: .85em;
}
header {
  background: #f5f5f5;
  margin: 0px;
  padding: 0px;
}
.line-break {
  margin: 10px;
}
.footer-nav {
  display: none;
}

  /* Styles for larger screens */
@media screen and (min-width: 768px) {
    .nav {
      display: inline-flex;
      justify-content: space-around;
      align-content: center;
      padding-bottom: 20px;
      background-color: transparent;
    }
    .main-nav {
      padding: 12px 20px;
      background-color: transparent;
    }
    .nav a:hover {
      color: darkslateblue;
      background-color: #f5f5f5;
    }
    .col {
      display: inline-block;
      width: 50%;
    }
    .profile-image {
      padding: 0px 10px;
      margin: 0px 5px;
      width: 300px;
      height: 250px;
      float: right;
    }
    .header-container {
      margin: 0 auto;
      padding: 10px 0px;
      display: inline-block;
      max-width: 785px;
    }
    .profile-container {
      text-align: right;
      margin: 0%;
      float: right;
    }
    .introduction {
      text-align: left;
      margin: 0px 0px 0px 20px;
      padding:20px 0px 100px 0px;
      font-size: 1.15em;
      float: left;
      max-width: 1000px;
    }
    .wrapper {
      max-width: 790px;
      margin: 0 auto;
      padding: 0px;
      align-content: center;
    }  
    header {
      background: #f5f5f5;
      margin: 0px;
      padding: 0px;
    }
    li {
      background-color: transparent;
      padding: 0px 30px;
    }
    .portfolio-title {
      padding: 0px;
      max-height: 100px;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
    }
    .p1, .p3, .p5{
      margin: 0px auto;
      padding: 0px;
      float: left;
      max-height: 500px;
    }
    .p2, .p4, .p6 {
      margin: 0px auto;
      float: right;
      max-height: 500px;
    }
    .project {
      width: 50%;
      padding: 0px;
    }
    .project-image {
      width: 100%;
      max-width: 350px;
      justify-content: right;
      margin: 20px 0px;
    }
    .project-title{

      margin: 0px auto;
      padding: 0px;
      align-content: center;
    }
    .project-text {
      max-width: 300px;
      margin: 10px 0px;
      padding: 20px 0px;
      display: inline-flex;
    } 
    .contact-section {
      align-content: center;
      display: inline-block;
    }
    .contact-title {
      margin: 30px;
      padding: 10px;
      display: block;
    }
    .contact-text {
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      font-size: 1.25em;
      max-width: 555px;
      align-content: center;
      display: inline-block;
    }
    .footer-link {
      display: none;
    }
    .footer-container {
      vertical-align: top;
      margin: 0px auto;
      padding: 0px;
    }
    .footer-name {
      justify-content: left;
      margin: 20px;
      padding-left: 10px;
      padding: 10px;
      text-align: left;
      padding-top: 0px;
      font-weight: bold;
    }
   .footer-nav li {
      margin-right: 0px;
      padding: 10px;
      vertical-align: top;
      text-transform: uppercase;
      font-weight: bold;
      background-color: transparent;
      list-style-type: none;
    }
    .footer-nav {
      padding-right: 20px;
      display: inline-flex;
      position: absolute;
      margin-right: -50px;
      margin-top: 0px;
    }
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }  
  }

  @media screen and (min-width: 1024px) {
    .main-nav {
      max-width: 1009px;
      padding: 0px;
      margin: 0 auto;
    }
    .name{
      float: left;
      padding-left: 50px;
      padding-top: 50px;
    }
    .nav {
      float: right;
      margin: 20px 5px 0px 0px;
      padding-left: 20px;
      padding-top: 25px;
      /* align-content: right; */
    }
    .introduction {
      padding-left: 30px;
    }
    .header-container{
      max-width: 1027px;
    }
    .profile-image {
      width: 320px;
      height: 250px;
      max-width: 350px;
      margin-right: 0px;
    }
    .project {
      align-items: center;
      width: 33.3%;
      padding: 10px;
      margin: 0px auto;
      max-width: 300px;
    }
    .p1, .p2, .p3{
      float: left;
      max-height: 500px;
      width: 100%;
      /* align-content: right; */
    }
    .p4, .p5, .p6 {
      float: left;
      max-height: 500px;
    }

    .p1 {
      margin-left: 10px;
    }

    .p4 {
      margin-left: 10px;
    }
    .wrapper {
      align-content: center;
      display: inline-block;
      padding: 0px; 
      margin: 0 auto;
      max-width: 980px;
    }
    .footer-container{
      margin: 0 auto;
      width: 100%;
    }
    .footer-nav {
      float: right;
      /* align-content: right; */
      /* align-content: right; */ 
      text-align: right;
      padding-left: 185px;
      margin: 0 auto;
      vertical-align: top;
    }
    li {
      margin: 0px;
      padding: 0px;
      vertical-align: top;
    }
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }  

  }